section {
  display: flex;
  justify-content: center;
  gap: 10px;
}

form {
  width: 50%;
  margin-top: 20px;
  font-size: 16px;
}

input {
  font-size: inherit;
  width: 80%;
  padding: 10px 18px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid var(--primary-color);
}

input:focus {
  outline: none;
  background-color: var(--accent-color);
  transition: background-color 0.5s ease;
}

button.primary {
  font-size: inherit;
  width: 20%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}

.listings {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 50px;
  justify-content: space-around;
}

@media (min-width: 500px) and (max-width: 768px) {
  .results {
    grid-template-columns: repeat(2, 1fr);
  }

  input[type="text"] {
    width: 70%;
  }
}

@media (max-width: 499px) {
  .results {
    grid-template-columns: 1fr;
  }
}
